<ion-view view-title="设置">
	<ion-content>
		<ion-list>
			<ion-item class="item-divier item-stable">联系客服</ion-item>
			<!--(这里Cordova调用phone)-->
			<ion-item class="item-borderless">
				<div align="center">
					<span style="font-size:20px;font-weight:bold;center;color:#33CD5F">400-720-0770</span>
				</div>
			</ion-item>
			
			<ion-item class="item-divier item-stable">版本信息</ion-item>
			<ion-item>
				<span style="float:left">版本号</span>
				<span style="float:right">1.5.3</span>
			</ion-item>
			<ion-item class="item-icon-right" href="#">
				检查新版本
				<i class="icon ion-ios-arrow-right"></i>
			</ion-item>
			<ion-item class="item-divier item-stable">应用设置</ion-item>
			<ion-item class="item-icon-right" href="#">
				清除图片缓存
				<i class="icon ion-ios-arrow-right"></i>
			</ion-item>
			<ion-toggle>推送服务</ion-toggle>
			<ion-item class="item-divier item-stable">关于果园</ion-item>
			<ion-item class="item-icon-right" href="#">
				关于我们
				<i class="icon ion-ios-arrow-right"></i>
			</ion-item>
			<ion-item class="item-icon-right" href="#">
				配送说明
				<i class="icon ion-ios-arrow-right"></i>
			</ion-item>
			<ion-item class="item-icon-right" href="#">
				线下门店
				<i class="icon ion-ios-arrow-right"></i>
			</ion-item>
			<ion-item class="item-icon-right" href="#">
				48小时退换货
				<i class="icon ion-ios-arrow-right"></i>
			</ion-item>
			<ion-item class="item-icon-right" href="#">
				企业合作
				<i class="icon ion-ios-arrow-right"></i>
			</ion-item>
			
		</ion-list>
	</ion-content>
</ion-view>