<ion-view view-title="品类">
	<ion-nav-buttons side="right">
		<button class="button button-clear icon-left ion-ios-search"></button>
	</ion-nav-buttons>
 	<ion-content>
		<ion-list>
			<!--<ion-item class="item-divier">热门品类</ion-item>-->
			<ion-item class="item-divier item-stable">全部品类</ion-item>
			<ion-item class="item-icon-left item-icon-right" ng-repeat="category in categories" type="item-text-wrap" href="#/tab/goods/{{category.csid}}/{{category.csname}}">
				<i class="icon ion-social-apple"></i>
				<h2>{{category.csname}}</h2>
				<p>{{category.desc}}</p>
				<i class="icon ion-ios-arrow-right"></i>
			</ion-item>
		</ion-list>
 	</ion-content>
</ion-view>