<ion-view view-title="我的果园">
	<ion-nav-buttons side="right">
		<a class="button button-clear icon-right ion-ios-gear-outline" href="#/tab/settings"></a>
	</ion-nav-buttons>
  	<ion-content>
		<div>
			登录注册积分余额优惠券等等
		</div>
		<div class="row">
			<div class="col positive-bg light">
				<div>我的订单</div>
              <i class="icon ion-android-train"></i>
			</div>
			<div class="col assertive-bg light">
				<div>评论晒单</div>
              <i class="icon ion-android-train"></i>
			</div>
			<div class="col calm-bg light">
				<div>我的关注</div>
              <i class="icon ion-model-s"></i>
			</div>
		</div>
		<div class="row">
			<div class="col positive-bg light">
				<div>我的赠品</div>
              <i class="icon ion-android-train"></i>
			</div>
			<div class="col assertive-bg light">
				<div>我的特权</div>
              <i class="icon ion-android-train"></i>
			</div>
			<div class="col calm-bg light">
				<div>我的试吃</div>
              <i class="icon ion-model-s"></i>
			</div>
		</div>
  	</ion-content>
</ion-view>